<html>
  <head>
    <title>YOUCHAT - Échangez en ligne</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../public/css/style.css">
	<meta charset="utf-8">
  </head>



  <body bgcolor=white>

  	<header>
    	<img src="../public/assets/YOUCHATT.png">
    </header>
       
	<script type="text/javascript">
    const listOfPages = {
      'Inscription',
      'Connexion',
      'Salons',
      'Qui sommes-nous ?'
    }
    function changePage (pageToChange){
      const elem = document
      .querySelector(`#${pageToChange}`)

      if (else)
        console.error("La page n'existe pas")
      return
    }

    elem.sty.display = 'block'

    const pagesToHide = listOfPages
    .filter(p=>p !== pageToChange)

    console.log(pagesToHide)

    pagesToHide.forEach(p=> {
      const toHide = document
      .querySelector(`#${p}`)
      if (toHide)
        toHide.style.display = 'none'
    }
    )

    changePage('Inscription')
  </script>

  <menu>	
		<nav class="nav nav-pills flex-column flex-sm-row">
  			<a class="flex-sm-fill text-sm-center nav-link" href="#">Inscription</a>
  			<a class="flex-sm-fill text-sm-center nav-link" href="#">Connexion</a>
  			<a class="flex-sm-fill text-sm-center nav-link" href="#">Salons</a>
  			<a class="flex-sm-fill text-sm-center nav-link" href="#">Qui sommes-nous ?</a>
		</nav>
	</menu>






<vujs>
    <div id="app">
  {{ message }}
    </div>

<div id="app-2">
  <span v-bind:title="message">
    Passez votre souris sur moi pendant quelques secondes
    pour voir mon titre lié dynamiquement !
  </span>
</div>

<br>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Message retourné</button>
</div>

<br><br>
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>





  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue !'
  }
  })

    var app2 = new Vue({
  el: '#app-2',
  data: {
    message: 'Vous avez affiché cette page le ' + new Date().toLocaleString()
  }
})

var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js !'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})

var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hello Vue !'
  }
})
</script>



</vujs>
	    

<footer>

<br>
  <p>De nombreux salons de discussion pour tous les goûts</p>
  <p>Information de contact: <a href="mailto:contact@youchat.fr">
  contact@youchat.fr</a>.</p>
 <p>Conditions générales</p>
<p>Politique du site</p>
<p>FAQ</p>

</footer>
  </body>
</html>